.container{
  height: 100vh;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow-x: hidden;
}

.spin{
  position: absolute;
  left: 50%;
  top: 50%;
}
