.card {
  margin-left: 1%;
  margin-top: 5px;
  padding:10px;
  max-width: calc(40% + 70px);
  background-color: #eaeaea;
  border-radius: 10px;
  border: #8dbab9 2px solid;
  z-index: 10;
  cursor: pointer;
  position: relative;

  .closeButton{
    display: none;
    position: absolute;
    width: 25px;
    height: 25px;
    right: -10px;
    top: -10px;
    background-color: lightgray;
    color: gray;
    border: 1px solid #66767d;
    padding: 0;
    .closeButtonIcon{
      max-width: 20px;
      max-height: 20px;
    }
  }

  .closeButton:hover{
    background-color: #bababa;
    color: #6c6b6b;
  }

  .cardHeader{
    font-weight: normal;
  }

  .video {
    width: calc((100vw - 600px) * 0.4);
    max-width: calc((100vw - 600px) * 0.4);
    margin: 10px ;
    height: 300px;
  }
}

.card:hover{
  border: 2px solid #66767d;
  background-color: #dcdcdc;
  .closeButton{
    display: block;
  }
}

.active{
  border: 4px solid #66757d;
}

.active:hover{
  background-color: #eaeaea;
  border: 4px solid #66757d;
}

