.dashboard {
  height: 100vh;
  width: calc(100vw - 600px);
  max-width: calc(100vw - 600px);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: rgba(255,255,255,0.3);
  background-blend-mode: lighten;

  .header{
    display: flex;
    align-items: center;
    padding: 20px;
    width: 100%;
    height:100px;
    background-color: rgba(169, 213, 213, 0.6);
    font-weight: bolder;
    cursor: default;
  }
  .header h1{
    margin: 0;
  }

  .cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
  }
  .addBtn {
    margin-top: auto;
    margin-right: 50px;
    margin-bottom: 50px;
    align-self: flex-end;
  }
}

