.left {
  height: 100vh;
  width: 200px;
  background-color: #405252;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  .dashboardItem{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    min-height: 50px;
    border-radius: 10px;
    border: slategray 2px solid;
    margin-top: 20px;
    background-color: azure;
    position: relative;

    .closeButton{
      display: none;
      position: absolute;
      max-width: 20px;
      max-height: 20px;
      right: -10px;
      top: -10px;
      background-color: lightgray;
      color: gray;
      padding: 0;
      .closeButtonIcon{
        max-width: 20px;
        max-height: 20px;
      }
    }

  }

  .dashboardItem p{
    font-weight: bold;
    cursor: pointer;
    margin: 0;
  }

  .dashboardItem:hover, .active{
    border-width: 4px;
    background-color: #d0ffff;
  }

  .dashboardItem:hover{
    .closeButton{
      display: block;
    }
  }

  .addBtn{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    min-height: 50px;
    border-radius: 10px;
    border: slategray 3px dashed;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: azure;
  }

  .addBtn:hover{
    background-color: #91d5ff;
  }



}