.right{
  height: 100vh;
  width: 400px;
  margin-left: auto;
  background-color: #d2d9d9;
  padding: 20px;


  .formHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: #b6bbbb;
    cursor: default;
  }
  .formHeader h3{
    font-weight: bold;
    margin: 0;
  }

  .ant-form-item-label {
    white-space: normal;
    font-weight: bold;
    min-width: 45%;
    max-width:45%;
  }

  .ant-form-item-control{
    max-width: 50%;
  }
  .ant-upload-list-text{
  }

  .form{
    margin-top: 20px;
  }

}